.gallery {
    left: 0;
    right: 0;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin-bottom: 200px;
    position: relative;
}

.gallery__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 20px; 
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    left: 0px;
}

.gallery__container__image {
    width: 100%;
    max-width: 100%;
    max-height: 800px;
    margin-bottom: 20px; /* Add this line */
}

.gallery__container__image img {
    width: 100%;
    height: 80%;
    max-height: 800px;
    border-radius: 8px;
}

.gallery__container__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.gallery__container__buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.gallery__container__buttons button:hover {
    background-color: #0056b3;
}